<h1>Observations for <%= @student.first_name %></h1>
<p><%= link_to "Add Observation", new_student_observation_path(@student) %></p>
<p><%= link_to "Delete Student", student_path(@student), method: "delete" %></p>
<p><%= link_to "Edit Student", edit_student_path(@student) %></p>
<p><%= link_to "<< Back to Classes", teacher_path(current_user) %></p>

<section class="borders">
  <h2>My Observations<h2>
  <% @student.observations.each do |observation| %>
    <p><%= link_to "#{observation.date} ", student_observation_path(@student, observation) %></p>
  <% end %>
</section>
