<h1>Observations for <%= @student.first_name %></h1>
<h3><%= link_to "Add Observation", new_student_observation_path(@student) %></h3>
<h3><%= link_to "Delete Student", student_path(@student), method: "delete" %></h3>
<h3><%= link_to "Edit Student", edit_student_path(@student) %></h3>
<h3><%= link_to "<< Back to Classes", teacher_path(current_user) %></h3>
<br>
<h3><% if current_admin? %>
  <%= link_to "<< Back to All Students", admin_students_path %>
  <% end %>
</h3>

<section class="borders">
  <h2>My Observations<h2>
  <% @student.observations.each do |observation| %>
    <p><%= link_to "#{observation.date}, Teacher: #{observation.teacher}", student_observation_path(@student, observation) %></p>
  <% end %>
</section>
