<h1><%= @section.name %></h1>
<h3><%= link_to "Add Student", new_section_student_path(@section) %></h3>
<h3><%= link_to "Edit Class", edit_section_path(@section) %></p>
<h3><%= link_to "Delete Class", section_path(@section), method: "delete" %></h3>
<h3><%= link_to "<< Back to All Classes", teacher_path(current_user) %></h3>

<section class="borders">
  <h2>Students<h2>
  <% @section.students.each do |student| %>
    <p><%= link_to "#{student.first_name} #{student.last_name}", student_path(student) %></p>
  <% end %>
</section>
