<!DOCTYPE html>
<html>
  <head>
    <title>StudentTracker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "custom.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    <h1 id="main_header"><a href="/">Student Tracker</a></h1>
    <button id="header_button"><h3><%= link_to "Logout", logout_path, method: :delete %></h3></button>
  </header>
    <%= yield %>
  </body>
</html>
